<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiambu Challenge Chat Bot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <!-- TODO: Implement a chat interface for user interation -->
    <h1>Sample Chatbot UI</h1> <br>
    <hr>

    <div class="container">
        <div class="row">

            <div class="col">
                <div class="jumbotron">
                    <span>
                        <p id="res"></p>
                    </span>
                </div>

                <form>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Enter your Query</label>
                      <input name="usermsg" id="usermsg"/>
                    </div>
                    <button type="button" id="send" class="btn btn-primary">Send Message</button>
                  </form>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
</body>

</html>
